@model ProductViewModel






<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        @if (Model.Products.Count == 0)
        {
            @await Html.PartialAsync("_noproduct")
        }
        else
        {
            <div class="row">
                @foreach (var prd in Model.Products)
                {
                    <div class="col-md-4">
                        @await Html.PartialAsync("_product", prd)
                    </div>

                }
            </div>
        }

    </div>
</div>

