@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


@model List<Product>

<div class="row my-2">
    <div class="col-md-12">
        <div class="text-right">

            @*<form action="product/sıralama" method="get">
            <select name="value" class="form-select " aria-label="Default select example">
                <option value="0" selected>Akıllı Sırala</option>
                <option value="1">a-z</option>
                <option value="2">z-a</option>
            </select>
        </form>*@
            <form action="product/sorting" method="post">
                <select name="value" class="form-select " aria-label="Default select example">
                    <option value="0" selected>Akıllı Sırala</option>
                    <option value="1">a-z</option>
                    <option value="2">z-a</option>
                </select>
                @*<input type="submit" value="Sırala">*@
            </form>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">

        <table class="table table-bordered">
            <tr>
                <th>Ürün Id</th>
                <th>Ürün Adı</th>
                <th>Ürün Fiyatı</th>
            </tr>
            @foreach (var prd in Model)
            {
                <tr>
                    <td>@prd.ProducyId</td>
                    <td>@prd.Name</td>
                    <td>@prd.Price</td>
                </tr>
            }

        </table>

    </div>
</div>
